
* {
    padding: 0 !important;
    font-size: 20px  !important;
}

html {

}


body {

}

/* header */
header
{
    background-color: rgba(0, 0, 0,0.4);
    height: 25vh;
}

.navbar
{
    max-width: 960px;
    margin: auto;
}
.navbar .navbar-brand:hover img
{
    border:3px solid rgb(15, 239, 255);
    border-radius: 50%;
} 

.navbar .navbar-brand img
{
    margin: 5px;
    border:2px solid rgb(1, 1, 1);
    border-radius: 50%;
}

.navbar .navbar-brand img
{
}

@media (max-width:960px) {

.navbar .navbar-brand
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.navbar .navbar-toggler
{
    margin: auto;
}

}
/* end header */

/* main */
#main
{
    height: 500px;
}
/* end main */

/* footer */
#footer
{
    
}
/* end footer */