
* {
    padding: 0 !important;
}

html {

}


body {

}

/* header */
#header
{
    height: 100px;
}
.nav-item
{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-bottom: 5px;
}
.nav-link
{
    color: black !important;
    font-weight: 600;
}
/* end header */

/* main */
#main
{
    height: 500px;
}
/* end main */

/* footer */
#footer
{
    
}
/* end footer */